<!-- Begin Page Content -->
<div class="container-fluid">
    {{div}}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cadastrar Curso</h6>
        </div>
        <div class="card-body mt-5">
            <div class="chart-area">
                <div class="container">
                    <form method="post" action="../app/Model/backend_curso.php">
                        <div class="row">
                            <div class="col">
                                <p>Nome do Curso</p>
                                <input type="text" class="form-control" placeholder="Nome do curso" name="nome_curso">
                            </div>
                            <div class="col">
                                <p>Data de Início</p>
                                <input type="date" class="form-control" name="data_inicio">
                            </div>
                        </div>
                        <br>
                        <!-- Estruta dos botões -->
                        <div class="form-row">
                            <div class="col">
                                <input type="submit" value="Cadastrar Curso" style="margin-top: 30px;"
                                    class="btn btn-success form-control">
                            </div>
                            <div class="col">
                                <a href="" value="Cadastrar Curso" style="margin-top: 30px;"
                                    class="btn btn-info form-control">Voltar ao menu</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>