<!-- Begin Page Content -->
<div class="container-fluid">
    {{div}}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cadastrar</h6>
        </div>
        <div class="card-body">
            <form method="post" action="../app/Model/tutores/backend_tutor.php">
                <div class="col">
                    CPF
                    <input type="text" class="form-control" onkeypress="$(this).mask('000.000.000-09');" id="email"
                        placeholder="Digite o CPF" name="cpf" required> <br>
                    Nome Completo
                    <input type="text" class="form-control" placeholder="Nome Completo" name="nome_completo" required>
                    <br>
                    E-mail
                    <input type="text" class="form-control" placeholder="Email" name="email" required>
                    <br>
                    Telefone
                    <input type="text" class="form-control" onkeypress="$(this).mask('(00) 00000-0009')"
                        placeholder="Telefone" name="telefone" required>
                    <br>
                    <div class="col">
                        <div class="row">
                            É Militar?
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="militarCheck" name="militarCheck"
                                        value="show">
                                </div>
                            </div>
                        </div><br>
                        <div id="militarShow" name="militarShow">

                            <div class="row">
                                Nome de Guerra
                                <input type="text" class="form-control"
                                    placeholder="Nome de Guerra (Em caso de militares)" name="nome_guerra">
                            </div><br>
                            <div class="row">
                                Posto
                                <input type="text" class="form-control" placeholder="Posto (Em caso de militares)"
                                    name="posto">
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            OM
                            <select class="form-control" name="id_om">
                                <option value="0">VAZIO</option>
                            </select>
                        </div>
                        <div class="col">
                            <br>
                            <button type="button" class="form-control btn btn-warning" data-toggle="modal"
                                data-target="#myModal">Adicionar OM</button>
                        </div>
                    </div>
                </div>



                <!-- Estruta dos botões -->
                <div class="form-row">
                    <div class="col">
                        <input type="submit" value="Cadastrar tutor" style="margin-top: 30px;"
                            class="btn btn-success form-control">
                    </div>
                    <div class="col">
                        <a href="../../SGCOTE" style="margin-top: 30px;" class="btn btn-info form-control">Voltar ao
                            menu</a>
                    </div>
                </div>
            </form>


            <!-- Corpo do Modal -->
            <div class="col">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form method="post" action="../app/Model/backend_om.php">
                                    <p>Insira o nome da OM</p>
                                    <input type="text" class="form-control" placeholder="OM" name="nome_om">
                                    <input type="submit" value="Cadastrar" style="margin-top: 30px;"
                                        class="btn btn-success form-control">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>