<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="jumbotron bg-white">
        <div class="container">

            <div class="row">
                <div class="col-8">
                    <h1 class="display-4">Bem vindo ao SGCOTE! </h1>
                    <hr class="my-4">
                    <p class="lead" style="margin-bottom: 460px;">Sistema de Conteudistas e Tutores desenvolvido pelo IEAD.</p>
                    

                </div>
                <div class="col-4">
                    <img src="/SGCOTE/app/Template1/img/iead.png" alt="" style=" max-width: 500px;">
                </div>
            </div>
        </div>
    </div>

</div>