<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Conteudistas</h1>
    <hr>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listar</h6>
        </div>
        <div class="card-body mt-5">
            <div class="chart-area">
                <div class="container-fluid">
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800" style="margin-bottom: 20px; margin-top: 10px; ">Lista de
                                Conteudistas IEAD</h2>
                        </div>
                        <input class="form-control" type="text" placeholder="Digite o nome do curso para pesquisa"
                            id="busca" autocomplete="off">
                        <div id="resultado">
                            <br>
                        </div>
                        <div class="container" name="tabelaNova">
                        </div>
                        <!-- Estruta dos botões -->
                        <div class="container">
                            <div class="form-row">
                                <div class="col" style="margin-top: 100px;">
                                    <button type="button" class="form-control btn btn-primary"
                                        onclick="listarConteudistas()">Listar todos </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>