<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
    <hr>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Usuários</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="tableUsuarios" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Acesso</th>
                            <th>CPF</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Acesso</th>
                            <th>CPF</th>
                            <th>Edit</th>
                        </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- Corpo do Modal Edit-->
<div class="col">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" action="../SGCOTE/app/Model/usuarios/backend_alterar.php">
                        <p>Altere as informações</p>
                        <span>Nome:</span>
                        <input type="text" class="form-control nome_usuario" id="nome_usuario" name="nome_usuario">
                        <span>CPF:</span>
                        <input type="text" class="form-control cpf_usuario" id="cpf_usuario" name="cpf_usuario">
                        <span>Acesso:</span>
                        <select type="text" class="form-control acesso_usuario" name="acesso_usuario" id ="acesso_usuario" name="acesso_usuario"></select>
                        <input type="text" class="form-control id_usuario" id="id_usuario" name="id_usuario" hidden>
                        <input type="submit" value="Alterar" style="margin-top: 30px;"
                            class="btn btn-success form-control">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Corpo do Modal Trash-->
<div class="col">
    <div class="modal fade" id="myModalTrash" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" action="../SGCOTE/app/Model/usuarios/backend_deletar.php">
                        <p>Deseja apagar?</p>
                        <p>Usuario:</p>
                        <input type="text" class="form-control nome_usuario" id="nome_usuario" name="nome_usuario"
                            disabled>
                        <input type="text" class="id_usuario" id="id_usuario" name="id_usuario" hidden>
                        <input type="submit" value="Excluir" style="margin-top: 30px;"
                            class="btn btn-danger form-control">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Main Content -->